
.DS_Store
.Rhistory
*.csv
data/data_description.txt
.ipynb_checkpoints/Ames Housing Feature Selection-checkpoint.ipynb
.ipynb_checkpoints/Ames Housing Preprocessing-checkpoint.ipynb
.ipynb_checkpoints/Machine Learning Project Proposal-checkpoint.ipynb
.ipynb_checkpoints/Tree Model Exploration-checkpoint.ipynb
.ipynb_checkpoints/Feature_engineering-checkpoint.ipynb
.ipynb_checkpoints/Modelling-checkpoint.ipynb
